/*@external .flz_spacer, .flz_lspacer, .flz_mspacer, .flz_rspacer, .flz_spacer_mrsc_top;
@external .flz_spacer_mrsc_mid, .flz_spacer_mrsc_bottom, .flz_lspacer_mrmc_top;
@external .flz_lspacer_mrmc_mid, .flz_lspacer_mrmc_bottom, .flz_mspacer_mrmc_top;
@external .flz_mspacer_mrmc_mid, .flz_mspacer_mrmc_bottom, .flz_rspacer_mrmc_top;
@external .flz_rspacer_mrmc_mid, .flz_rspacer_mrmc_bottom, .flz_subspacer, .flz_lsubspacer;
@external .flz_msubspacer, .flz_rsubspacer, .flz_subspacer_mrsc_top, .flz_subspacer_mrsc_mid;
@external .flz_subspacer_mrsc_bottom, .flz_lsubspacer_mrmc_top, .flz_lsubspacer_mrmc_mid;
@external .flz_lsubspacer_mrmc_bottom, .flz_msubspacer_mrmc_top, .flz_msubspacer_mrmc_mid;
@external .flz_msubspacer_mrmc_bottom, .flz_rsubspacer_mrmc_top, .flz_rsubspacer_mrmc_mid;
@external .flz_rsubspacer_mrmc_bottom, .flz_r10, .flz_l20, .flz_m20, .flz_r20, .flz_r25;
@external .flz_r33, .flz_r40, .flz_r50, .flz_r60, .flz_r66, .flz_r75, .flz_r80, .flz_r90;
@external .flz_r100, .flz_form, .flz_textbox, .flz_combobox, .flz_button;
@external .flz_skiplink, .flz_vmenu, .flz_selected, .flz_disabled, .flz_htabmenu, .flz_htabmenu_bottom;*/

@external .flz_lspacer, .flz_spacer, .flz_lspacer, .flz_mspacer, .flz_rspacer;
@external .flz_spacer_mrsc_mid, .flz_spacer_mrsc_bottom, .flz_lspacer_mrmc_top;
@external .flz_lspacer_mrmc_top, .flz_lspacer_mrmc_mid, .flz_lspacer_mrmc_bottom;
@external .flz_mspacer_mrmc_top, .flz_mspacer_mrmc_mid, .flz_mspacer_mrmc_bottom;
@external .flz_rspacer_mrmc_top, .flz_rspacer_mrmc_mid, .flz_rspacer_mrmc_bottom;
@external .flz_subspacer, .flz_lsubspacer, .flz_msubspacer, .flz_rsubspacer;
@external .flz_subspacer_mrsc_top, .flz_subspacer_mrsc_mid,  .flz_subspacer_mrsc_bottom;
@external .flz_lsubspacer_mrmc_top, .flz_lsubspacer_mrmc_mid, .flz_lsubspacer_mrmc_bottom;
@external .flz_msubspacer_mrmc_top, .flz_msubspacer_mrmc_mid, .flz_msubspacer_mrmc_bottom;
@external .flz_rsubspacer_mrmc_top, .flz_rsubspacer_mrmc_mid, .flz_rsubspacer_mrmc_bottom;
@external .flz_r10, .flz_r20, .flz_r25, .flz_r33, .flz_r40, .flz_r50;
@external .flz_r60, .flz_r66, .flz_r75, .flz_r80, .flz_r90, .flz_r100;
@external .flz_form, .flz_textbox, .flz_combobox, .flz_button;
@external .flz_skiplink, .flz_vmenu, .flz_selected, .flz_disabled, .flz_htabmenu, .flz_htabmenu_bottom;

/* 
	Workaround: classes used only within conditional CSS must be also defined outside otherwise this causes a compiler 
	error. See: http://goo.gl/HBb8Dh
*/
.flz_spacer, .flz_lspacer, .flz_mspacer, .flz_rspacer,
.flz_spacer_mrsc_top, .flz_spacer_mrsc_mid, .flz_spacer_mrsc_bottom,
.flz_lspacer_mrmc_top, .flz_lspacer_mrmc_mid, .flz_lspacer_mrmc_bottom,
.flz_mspacer_mrmc_top, .flz_mspacer_mrmc_mid, .flz_mspacer_mrmc_bottom,
.flz_rspacer_mrmc_top, .flz_rspacer_mrmc_mid, .flz_rspacer_mrmc_bottom,
.flz_subspacer, .flz_lsubspacer, .flz_msubspacer, .flz_rsubspacer,
.flz_subspacer_mrsc_top, .flz_subspacer_mrsc_mid, .flz_subspacer_mrsc_bottom,
.flz_lsubspacer_mrmc_top, .flz_lsubspacer_mrmc_mid, .flz_lsubspacer_mrmc_bottom,
.flz_msubspacer_mrmc_top, .flz_msubspacer_mrmc_mid, .flz_msubspacer_mrmc_bottom,
.flz_rsubspacer_mrmc_top, .flz_rsubspacer_mrmc_mid, .flz_rsubspacer_mrmc_bottom,
.flz_r10, .flz_r20, .flz_r25, .flz_r33, .flz_r40, .flz_r50,
.flz_r60, .flz_r66, .flz_r75, .flz_r80, .flz_r90, .flz_r100,
.flz_form, .flz_textbox, .flz_combobox, .flz_button,
.flz_skiplink, .flz_vmenu, .flz_selected, .flz_disabled, .flz_htabmenu, .flz_htabmenu_bottom {
}

@if user.agent ie6 {

/* --- Reset --- */

	sub, sup {
		font-size: 1em;
	}

	ol li {
		margin-left: 1.5em;
	}

/* Layout */

	#flz_page {
		overflow: hidden;
	}

	.flz_spacer,
	.flz_lspacer,
	.flz_mspacer,
	.flz_rspacer,
	.flz_spacer_mrsc_top,
	.flz_spacer_mrsc_mid,
	.flz_spacer_mrsc_bottom,
	.flz_lspacer_mrmc_top,
	.flz_lspacer_mrmc_mid,
	.flz_lspacer_mrmc_bottom,
	.flz_mspacer_mrmc_top,
	.flz_mspacer_mrmc_mid,
	.flz_mspacer_mrmc_bottom,
	.flz_rspacer_mrmc_top,
	.flz_rspacer_mrmc_mid,
	.flz_rspacer_mrmc_bottom,
	.flz_subspacer,
	.flz_lsubspacer,
	.flz_msubspacer,
	.flz_rsubspacer,
	.flz_subspacer_mrsc_top,
	.flz_subspacer_mrsc_mid,
	.flz_subspacer_mrsc_bottom,
	.flz_lsubspacer_mrmc_top,
	.flz_lsubspacer_mrmc_mid,
	.flz_lsubspacer_mrmc_bottom,
	.flz_msubspacer_mrmc_top,
	.flz_msubspacer_mrmc_mid,
	.flz_msubspacer_mrmc_bottom,
	.flz_rsubspacer_mrmc_top,
	.flz_rsubspacer_mrmc_mid,
	.flz_rsubspacer_mrmc_bottom {
		height: 1%;
	}

	.flz_r20,
	.flz_r25,
	.flz_r40,
	.flz_r33,
	.flz_r50,
	.flz_r60,
	.flz_r66,
	.flz_r75,
	.flz_r80,
	.flz_r90,
	.flz_r100 {
		margin-right: -3px;
	}

	.flz_r10 {
		margin-right: -5px;
	}

/* --- Form --- */

	fieldset {
		padding: 0 1em 1em 1em;
		margin-top: -1em;
	}
	fieldset legend {
		color: #000;
		margin-left: -0.5em;
		padding-top: 1em;
		padding-bottom: 1em;
		padding-left: 0;
	}

	.flz_form .flz_textbox {
		background-color: #fff;
		border: 1px solid #000;
		display: block;
		width: 99.4%;
	}
	.flz_form .flz_textbox,
	.flz_form textarea {
		margin-right: -10px;
	}
	.flz_form .flz_combobox {
		float: left;
	}
	.flz_button {
		margin: 0;
		overflow: visible;
		padding: 0.25em 0.5em;
		width: 1;
	}

/* --- Nav --- */

	a:active.flz_skiplink {
		border: 1px dotted #000;
	}
	.flz_vmenu ul li.flz_selected a {
		font-weight: literal("expression(/flz_selected/.test(this.parentNode.className) ? \"bold\" : \"inherit\")");
	}
	.flz_vmenu ul li.flz_disabled a {
		color: literal("expression(/flz_disabled/.test(this.parentNode.className) ? \"#aaa\" : \"inherit\")");
		text-decoration: literal("expression(/flz_disabled/.test(this.parentNode.className) ? \"none\" : \"inherit\")");
	}

@url HTABMENU_BOTTOM_ACTIVE htabmenu_bottom_active;
@url HTABMENU_BOTTOM_HOVER htabmenu_bottom_hover;
@url HTABMENU_BOTTOM_INACTIVE htabmenu_bottom_inactive;

	.flz_htabmenu ul li {
	}
@sprite .flz_htabmenu ul li a:hover {
	background-repeat: no-repeat;
	background-position: right top;
	gwt-image: 'htabmenu';
	height: auto;
	text-decoration: underline;
	width: auto;
}
@sprite .flz_htabmenu ul li.flz_selected a:hover {
	background-repeat: no-repeat;
	background-position: right -200px;
	gwt-image: 'htabmenu';
	height: auto;
	text-decoration: underline;
	width: auto;
}
	.flz_htabmenu_bottom ul li a:hover {
		background-image: HTABMENU_BOTTOM_INACTIVE;
		background-repeat: no-repeat;
		background-position: right bottom;
		text-decoration: underline;
	}

	.flz_htabmenu_bottom ul li.flz_selected a:hover {
		background-image: HTABMENU_BOTTOM_ACTIVE;
		background-repeat: no-repeat;
		background-position: right bottom;
		text-decoration: underline;
	}
}
